
 

 

  <!-- Image header -->
  <div class="w3-display-container w3-container">
    <img src = "../assets/nature.jpg" alt="Jeans" style="width:100%">
    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
      <h1 class="w3-jumbo w3-hide-small">Organic Oil</h1>
      <h1 class="w3-hide-large w3-hide-medium">Organic Oil</h1>
      <h1 class="w3-hide-small"> </h1>
      <p><a href="#products" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
    </div>
  </div>

  <div class="w3-container w3-text-grey" id="products">
    <p>4 items</p>
  </div>