<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" [style]='mysidebar' id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i (click)="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <h3 class="w3-wide"><b>Oil Store</b></h3>
  </div>
  <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
    <a  (click) = "process()" class="w3-bar-item w3-button">Process</a>
    <a  (click) ="benifits()" class="w3-bar-item w3-button">Benifits</a>
   
    <a (click) = "health()" class="w3-bar-item w3-button">Health</a>
    <a (click) ="risks()" class="w3-bar-item w3-button">Risks</a>
     
    <a (click) = "shipment()" class="w3-bar-item w3-button">Shipment</a>
  </div>
  <a href="#footer" class="w3-bar-item w3-button w3-padding">Contact</a> 
   
</nav>

  <!-- Top menu on small screens -->
  <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
    <div class="w3-bar-item w3-padding-24 w3-wide">Oil Store</div>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" (click)="w3_open()"><i class="fa fa-bars"></i></a>
  </header>
  
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" (click)="w3_close()" [style]='myoverlay' title="close side menu" id="myOverlay"></div>

 
<app-newsletter  ></app-newsletter>